{% load static %}


<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="logo">
                    <a href="./index.html">
                        <img src="{% static 'img/logo.png' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="nav-menu">
                    <ul>
                        <li class="active"><a href="/home">Home</a></li>
                        <li><a href="/aboutus">About Us</a></li>
                        <li><a href="#">Categories</a>
                            {% load mptt_tags %}
                             <ul class="dropdown">
                                {% recursetree category %}
                                    <li><a href="/category/{{ node.id }}/{{ node.slug }}/">{{ node.title }}</a>
                                         {% if not node.is_leaf_node %}
                                            <ul class="dropdown-submenu">
                                                <li><a href="#">{{ children }}</a></li>
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endrecursetree %}
                            </ul>
                        </li>
                        <li><a href="/references">References</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="top-option">
                    <div class="header-section">
                        <form action="/search/" method="post" >
                            {% csrf_token %}
                            <input name="query"  >
                           <button class="search-btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="to-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="canvas-open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header End -->

