{% extends "homebase.html" %}

{% block title %} {{ product.title }}{% endblock %}
{% block keywords %}{{ product.keywords }}{% endblock %}
{% block description %}{{ product.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href="{{ setting.icon.url }}"/>
{% endblock %}

{% block sidebar %}{% include "sidebar.html" %}{% endblock %}

{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Classes detail</h2>
                        <div class="bt-option">
                            <a href="/home">Home</a>
                            <a href="/category/{{ product.category_id }}/{{ product.category.slug }}">{{ product.category }}</a>
                            <span>{{ product.title }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Class Details Section Begin -->
    <section class="class-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="class-details-text">
                        <div class="cd-pic">
                            <img src="{{ product.image.url }}" alt="">
                        </div>

                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h3>{{ product.title }}</h3>
                                <p>{{ product.detail | safe }}</p></div>
                            <div class="cd-single-item">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cd-trainer">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        {% for rs in images %}
                            <div class="gallery-section gallery-page">
                            <div class="gallery">
                                <div class="grid-sizer"></div>
                                <div class="gs-item grid-wide set-bg" data-setbg="{{ rs.image.url }}">
                                    <a href="{{ rs.image.url }}" class="thumb-icon image-popup"><i
                                            class="fa fa-picture-o"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            <div class="row">
                            <div class="col-md-6">
                                <div class="leave-comment">
                                    <h5>Comment</h5>
                                    <div class="co-item">
                                        {% for rs in comments %}
                                        <div class="co-pic">
                                            <div><a href="#"><i class="fa fa-user-o"></i><b>{{ rs.user.first_name }}</b> </a></div>
                                            <div><a href="#"><i class="fa fa-clock-o"></i>{{ rs.create_at }} </a></div>
                                        </div>
                                        <div class="co-text">
                                            <b><p>{{ rs.subject }}</p></b>
                                            <p>{{ rs.comment }}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
            <div class="row">
                            <div class="col-md-8">
                                <div class="leave-comment">
                                    <h5>Leave a comment</h5>
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                    {{ message }}
                                </div>
                                {% endfor %}
                                {% endif %}
                                    <p>Your e-mail address will not be published.</p>
                                    <form action="/product/addcomment/{{ product.id }}" method="post">
                                    {% csrf_token %}
                                        <input type="text" placeholder="Subject">
                                        <textarea placeholder="Comment"></textarea>
                                        {% if user.id is not None %}
                                        <button type="submit">Submit</button>
                                        {% else %}
                                            <p>Yorum eklemek için <a href="/login">Login</a> olunuz!</p>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
            </div>
            </div>
        </div>
    </section>
    <!-- Class Details Section End -->


{% endblock %}