 {% load static %}
  <!-- Hero Section Begin -->
 <div id = "home">
     <div class="container">
         <div class="home-wrap">
             <div id="home-slick">
                 {% for rs in sliderdata %}
                     <div class="banner-banner-1">
                     <img src="{{ rs.image.url }}" alt="">
                      <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span>{{ rs.title }} </span>
                                <h1>Be <strong>strong</strong> traning hard</h1>
                                <a href="#" class="primary-btn">Get info</a>
                            </div>
                        </div>
                     </div>
                 {% endfor %}
             </div>
         </div>
     </div>
 </div>
    <!-- Hero Section End -->