{% extends "homebase.html" %}

{% block title %} Profile -{{ setting.title }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href="{{ setting.icon.url }}"/>
{% endblock %}

{% block sidebar %}{% include "sidebar.html" %}{% endblock %}

{% block content %}

<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="uploads/images/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>User Profile</h2>
                        <div class="bt-option">
                            <a href="/home">Home</a>
                            <span>User Profile</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

       <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                  <div class="col-lg-4">
                        <div class="section-title contact-title">
                            {% include "user_panel.html" %}
                             </div>
                  </div>
                <div class="col-lg-8">
                    <div class="section-title contact-title">
                    <span>User Panel </span>
                        <table bgcolor="white" class="table" border="collapse">
                        <thead>
                        <tr>
                            <th class="text-center">Image</th>
                            <td class="thumb"><img src="{{ profile.image.url }}" height="200" width="150"></td>
                        </tr>
                        <tr>
                            <th class="text-center">Name Surname</th>
                            <th class="text-center">{{ profile.user_name }}</th>
                        </tr>
                        <tr>
                            <th class="text-center">Email</th>
                            <th class="text-center">{{ profile.user.email }}</th>
                        </tr>
                        <tr>
                            <th class="text-center">Phone</th>
                             <th class="text-center">{{ profile.phone }}</th>
                        </tr>
                        <tr>
                            <th class="text-center">Address</th>
                            <th class="text-center">{{ profile.address }}</th>
                        </tr>
                        <tr>
                            <th class="text-center">City</th>
                             <th class="text-center">{{ profile.city }}</th>
                        </tr>
                        <tr>
                            <th class="text-center">Country</th>
                            <th class="text-center">{{ profile.country }}</th>
                        </tr>
                        </tr>
                        </thead>

                        </table>
                    </div>
                </div>

            </div>

        </div>
     </div>
        </div>
    </section>
{% endblock %}