{% extends "homebase.html" %}

{% block title %} User Comments{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href="{{ setting.icon.url }}"/>
{% endblock %}

{% block sidebar %}{% include "sidebar.html" %}{% endblock %}

{% block content %}

<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="uploads/images/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>User Comments</h2>
                        <div class="bt-option">
                            <a href="/home">Home</a>
                            <span>User Comments</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

       <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                  <div class="col-lg-4">
                        {% include "user_panel.html" %}
                  </div>
                <div class="col-lg-8">
                    <div class="section-title contact-title">
                          <span>User Comments</span>
                    </div>

                    <table bgcolor="white" class="table" border="collapse">
                        <tr>
                            <th class="text-left">Product</th>
                            <th class="text-left">Subject</th>
                            <th class="text-left">Comment</th>
                            <th class="text-left">Date</th>
                            <th class="text-left">Detail</th>
                        </tr>
                        {% for rs in comments %}
                        <tr>
                            <td class="text-left">
                                <a href="/product/{{ rs.product_id }}/{{ rs.product.slug }}">
                                <strong>{{ rs.product.title }}</strong>
                                </a>
                            </td>
                            <td class="text-left">{{ rs.subject }}</td>
                            <td class="text-left">{{ rs.comment }}</td>
                            <td class="text-left">{{ rs.status }}</td>
                            <td class="text-left">{{ rs.create_at }}</td>
                            <td class="text-left"><a class="primary-btn" href="/user/deletecomment/{{ rs.id }}" onclick="return confirm('Siliniyor! Emin misiniz?')">Delete</a></td>
                        {% endfor %}
                        </tr>
                    </table>

            </div>

        </div>
     </div>
        </div>
    </section>
{% endblock %}